.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  background-image: 'Fond.jpg'; 
  background-size: cover;
  background-position: center;
}
.carousel-item img {
  width: 70%; /* Utilisation de 70% de la largeur du conteneur */
  height: auto; /* Pour maintenir les proportions de l'image */
  display: block; /* Pour centrer l'image horizontalement */
  margin: 0 auto; /* Pour centrer l'image horizontalement */
  object-fit: contain; /* Ajuster l'image à l'intérieur du conteneur */
}
img {
  border-radius: 70px;
}
